form{
    display: flex;
    justify-content: center;

}
fieldset {
    border: 1px solid #000;
    width: 50%;
  
}

legend{
    width: 45%;
}
.wrapper-share{
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.share-input{
    display: flex;

}

.input-shareurl{
    width: 50%;
}

@media (max-width:673px)
{
    fieldset{
        width:100%;
    }
    legend{
        width: 62%;
        font-size: 13pt;
    }
    .input-shareurl{
        width: 100%;
    }
}